<% include partials/header %>

<link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/css/fontawesome.min.css">

<form id="myform">
  <center><h1>Enter Details</h1></center>
  <div class="form-group">
    <label for="name">Full Name</label>
    <div class="input-group">  
      <div class="input-group-addon">
            <span><i class="fas fa-user"></i></span>
      </div>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter your name">
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <div class="input-group">
      <div class="input-group-addon">
            <span><i class="fas fa-envelope"></i></span>
      </div>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label>Enter Birth Date</label>
    <div class="input-group date" data-provide="datepicker">
      <input type="text" class="form-control" placeholder="Select Date">
      <div class="input-group-addon">
          <span><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label for="exampleTextarea">About</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Say something about yourself!!"></textarea>
  </div>

  <fieldset class="form-group">
    <legend>Gender</legend>
    
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" id="male" value="male" checked>
        <i class="fas fa-male"></i> Male 
      </label>
    </div>
    
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" id="female" value="female">
        <i class="fas fa-female"></i> Female 
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" id="none" value="none">
        <i class="fas fa-transgender"></i> None 
      </label>
    </div>

  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/jquery-3.3.1.slim.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>

<% include partials/footer %>